## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
      5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
a = int(input("enter your number : "))
if a%2 == 0:
    print("number is even")
else :
     print("number is odd")

enter your number : 3
number is odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [8]:
a = int(input("enter your number : "))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

enter your number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [7]:
for i in range (2000,3201,1):
    if i%7 == 0 and i%5 != 0:
        print(i ,end =',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [13]:
x=[i for i in range (2000,3201) if (i%7==0) and (i%5 !=0)]
print (x)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [40]:
l1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

int_c=0
float_c=0
str_c=0
bool_c=0
none_c=0
 
for i in  l1:
        if type(i) == int:
            int_c = int_c + 1
            
        elif type (i)== float:
            float_c =float_c + 1
            
        elif type(i) == str:
            str_c =str_c +1
            
        elif type(i) == bool:
            bool_c = bool_c + 1
            
        else:
            none_c=none_c + 1
            
            
print("int:",int_c,"float:",float_c,"str:",str_c,"bool:",bool_c,"none:",none_c)

int: 5 float: 1 str: 4 bool: 1 none: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [3]:
l2= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

res = 0

for i in l2:
    if type (i) in (int, float):
        
           res = res + i
    
    
print(res)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [8]:
l3 =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

l4=[]

for i in l3:
    if type (i) == str:
        l4.append (i)
        
print(l4)
print("-".join(l4))

['Py', '10', 'SQL', 'John']
Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [16]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def my_func(l):
    dict1 = {}
     
    dict1['sum of all numbers (exclude bool)'] = sum([float(i) for i in l if type(i)== int or type(i)== float])
    dict1['count of all str'] = len([str(i) for i in l if type(i)== str])
    return dict1

my_func(list1)

{'sum of all numbers (exclude bool)': 21.5, 'count of all str': 4}

In [ ]:
Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [2]:
list1 = [11,23,45,23,64,22,11,24]

for num in list1:
   
   if num % 2 != 0:
      print(num, end = " ")

11 23 45 23 11

In [3]:
list1 = [11,23,45,23,64,22,11,24]

odd_no = list(filter(lambda x: (x % 2 != 0), list1))
print("Odd numbers in the list: ", odd_no)

Odd numbers in the list:  [11, 23, 45, 23, 11]

In [4]:
list1 = [11,23,45,23,64,22,11,24]

odd_nos = [num for num in list1 if num % 2 != 0]
print("Odd numbers : ", odd_nos)

Odd numbers :  [11, 23, 45, 23, 11]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [52]:
l = [1,5, 10, 30, 40, 7]

l2 = [i for i in l if type(i) in (int,float)]

print("sum:", sum(l2))
print("count:",len(l2))
print("min:", min(l2))
print("max:", max(l2))
print("mean:", sum(l2)/len(l2) )

sum: 93
count: 6
min: 1
max: 40
mean: 15.5

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [2]:
shape_name = input('Enter the name of shape whose area you want to find : ')

def calculate_area(name):
    name = name.lower()
    
    if name == 'square':
        s = int(input("Enter square's side length : "))

        # calculate area of square
        sqt_area = s * s
        print(f'The area of square is {sqt_area}.')
        
    elif name == 'rectangle':
        l = int(input("Enter rectangle's length : "))
        w = int(input("Enter rectangle's width : "))

        # calculate area of rectangle
        rect_area = l * w
        print(f'The area of rectangle is {rect_area}.') 
        
    elif name == 'circle':
        r = int(input("Enter circle's radius length: "))
        pi = 3.14

        # calculate area of circle
        circ_area = pi * r * r
        print(f'The area of triangle is {circ_area}. ')
        
        
calculate_area(shape_name)

Enter the name of shape whose area you want to find : rectangle
Enter rectangle's length : 5
Enter rectangle's width : 5
The area of rectangle is 25.

In [ ]:
Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [5]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def my_func(l1,l2):
    x=set(l1)
    y=set(l2)
    result = {}
    result['Matched'] = list(x.intersection(y))
    result['only in l1'] =list( x-y)
    result['only in l2'] = list(y-x)
    return result
my_func(l1,l2)

{'Matched': ['January', 'June', 'February', 'December'],
 'only in l1': ['September', 'March', 'May'],
 'only in l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [57]:
def fac1(x):
    
    for i in range(2,x,1):
        if x % i == 0:
            print("not prime")
            break
    else:
        print("prime")
        
fac1(18)

not prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [38]:
num=int(input("enter no:"))  

fact = 1

for i in range(num, 1, -1):
    fact = fact * i
    
print (num, "=", fact)

enter no:8
8 = 40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [58]:
num=int(input("enter no:"))

d={}
for i in range(1 , num+1 , 1):
    d[i] = i*i
    
print(d)

enter no:6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [62]:
num=input("enter the no:")

x=num.split(',')
print("list", x)

t=tuple(x)
print("tuple",t)

enter the no:1,2,3,4,5,6,7
list ['1', '2', '3', '4', '5', '6', '7']
tuple ('1', '2', '3', '4', '5', '6', '7')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [73]:
x=input("enter the word:")
y_list=x.split(',')
print("org_list:",y_list)

y_list.sort()
print("new",y_list)

enter the word:hello,bag,world
org_list: ['hello', 'bag', 'world']
new ['bag', 'hello', 'world']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [10]:
words = input('Enter a sequence of whitespace separated words : ')
words1 = words.split(' ')
words1 = set(words1)
sorted_words = sorted(words1)
print((' ').join(sorted_words))

Enter a sequence of whitespace separated words : jayanto
jayanto

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [7]:
sentense = input('Enter a sentence : ')
sentense = list(sentense)

upper,lower = 0 , 0

for i in sentense:
    if i.isupper():
        upper = upper + 1
        
    if i.islower():
        lower = lower + 1
    else:
        pass
        
print('UPPER CASE ',upper,'LOWER CASE ',lower)

Enter a sentence :  program: Hello world
UPPER CASE  1 LOWER CASE  16

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [19]:
text=input("name:")
new_text= text[: : -1]
print("reversed_name:",new_text)

name:jayanto
reversed_name: otnayaj